.contacts {
  position: relative;
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__peopleContact {
    width: 40%;
    background-image: url('/assets/images/people-contact.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__content {
    width: 50%;
  }
  &__item {
    // width: 100%;
  }
  &__items {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
  }
  &__link {
    color: black;
    display: flex;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1rem;
    &:before {
      content: '';
      height: 1.5rem;
      width: 1.5rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      display: inline-block;
      margin-right: 15px;
    }
    &--email {
      &:before {
        background-image: url('/assets/images/icons/icon-mail.png')
      }
    }
    &--phone {
      &:before {
        background-image: url('/assets/images/icons/icon-phone.png')
      }
    }
    &:hover, &:focus, &:active {
      color: black;
    }

  }
  &__header {
    font-size: 1.5em;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    
    &--form {
      &:before {
        display: none;
      }
    }
  }
}
