#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4rem;
  position: relative;

  aside {
    visibility: hidden; /* toggled by JavaScript */
    background: white;
    width: 30rem;
    padding: 20px 40px;
    position: absolute;
    top: 70px;
    border: none;
    right: 0;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
    &.visible {
      visibility: visible;
    }
    nav {
      display: flex;
      flex-direction: column;
      .linkTo--primary {
        font-size: 1em;
        color: black;
        font-weight: 900;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        &:before {
          height: 3px;
          content: "";
          min-width: 1.8rem;
          position: relative;
          margin-right: 20px;
          background-color: #86b13b;
          display: inline-block;
          top: 0.675rem;
        }
      }
      .linkTo--secondary {
        font-size: 0.75em;
        color: black;
        font-weight: 600;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        &:before {
          height: 2px;
          content: "";
          min-width: 50px;
          position: relative;
          margin-right: 20px;
          background-color: transparent;
          display: inline-block;
          top: 12px;
          transition: 0.3s ease;
          
        }
        &:hover {
          &:before {
            background-color: $green;
          }
        }
      }
    }
  }

  .toggle{
    display: block;
    width: 4rem;
    height: 70px; 
    background-image: url('/assets/images/icons/icon-menu-open.png');   
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s ease;

    &.opened {
      background-image: url('/assets/images/icons/icon-menu-close.png');
    }
  }
  
}
