.footer {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: flex-start;
  justify-content: space-between;
  &__logo {
    height: 115px;
    width: 200px;
    background-image: url('/assets/images/toshonado-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__socials {
    display: flex;
    flex-direction: column;
    .social__item {
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-bottom: 15px;
      &--facebook {
        background-image: url('/assets/images/icons/icon-facebook.png')
      }
      &--instagram {
        background-image: url('/assets/images/icons/icon-instagram.png')
      }
      &--twitter {
        background-image: url('/assets/images/icons/icon-twitter.png')
      }
    }
  }
  &__address, &__phone, &__email, &__schedule {
    font-family: 'Proxima Nova Th';
    font-weight: 800;
    font-style: normal;
    color: black;
    margin-bottom: 1em;
    line-height: 1.2;
    display: block;
    &:hover, &:active, &:focus {
      color: black;
    }
  }

}