.header {
  position: sticky;
  top: 0;
  height: 130px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  background: white;
  z-index: 11;
  &__logo {
    &Link {
      min-width: 120px;
      height: 100%;
      font-size: 0;
    }
    &Image {
      object-fit: contain;
      height: inherit;
      width: inherit;
    }
  }
  &__main {
    display: flex;
    align-items: center;
    .custom-select {
      border: none;
      width: 75px;
      background: none;
      font-size: 1em;
      font-weight: 600;
      margin-right: 40px;

      background: url("/assets/images/icons/icon-arrow.png") no-repeat right .75rem center/10px 5px;
    
      &:active, &:focus {
        background: url("/assets/images/icons/icon-arrow.png") no-repeat right .75rem center/10px 5px
      }
    }
  }
}