.hero {
  position: relative;
  min-height: calc(100vh - 130px);
  flex-direction: column;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 1024px) {
    min-height: calc(50vh - 130px);
  }
  &__header {
    font-size: 9.15em;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
    font-style: normal;
    line-height: 1;
    position: relative;

    @media screen and (max-width: 1024px) {
      padding-top: 60px;
    }
    @media screen and (max-width: 720px) {
      font-size: 7em;
    }
    @media screen and (max-width: 560px) {
      font-size: 5em;
    }
    @media screen and (max-width: 414px) {
      font-size: 3.75em;
    }

    &:before {
      height: 100px;
      position: relative;
      bottom: 0;
      content: "";
      width: 130px;
      display: inline-block;
      background-image: url('/assets/images/toShоNado-text.png');
      background-repeat: no-repeat;
      background-position-y: bottom;
      background-size: contain;
      background-position-x: right;
      @media screen and (max-width: 720px) {
        height: 75px;
        width: 100px;
      }
      @media screen and (max-width: 560px) {
        height: 55px;
        width: 75px;
      }
      @media screen and (max-width: 414px) {
        height: 43px;
        width: 55px;
      }
    }
    &:after {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: $green;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
      content: '';
      position: relative;
      display: inline-block;
      animation-name: agencyDot;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
      animation-fill-mode: both;
      animation-direction: alternate;
      @media screen and (max-width: 480px) {
        height: 10px;
        width: 10px;
        position: absolute;
        bottom: 7px;
      }
    }
    &Description {
      font-size: 1.33em;
      max-width: 320px;
      width: 100%;
      font-family: 'Proxima Nova Lt';
      font-weight: 600;
      font-style: normal;
      position: relative;
      line-height: 1.2;
    }
  }
  &__secondaryHeaderWrapper {
    width: 70%;
    margin: 170px auto;
    position: relative;
    @media screen and (max-width: 1024px) {
      width: auto;
      margin: 50px auto;
    }
    // &:before {
    //   content: '';
    //   height: 90px;
    //   width: 25px;
    //   position: absolute;
    //   display: inline-block;
    //   background-image: url('/assets/images/icons/icon-mouse.png');
    //   left: -110px;
    //   bottom: -40px;
    //   animation-name: translateTopBottom;
    //   animation-duration: 1s;
    //   animation-iteration-count: infinite;
    //   animation-timing-function: ease;
    //   animation-fill-mode: both;
    //   animation-direction: alternate;
    //   @media screen and (max-width: 1024px) {
    //     display: none;
    //   }
    // }
  }
  &__secondaryHeader {
    font-family: 'Proxima Nova Th';
    font-weight: 800;
    font-style: normal;
    font-size: 2.16em;
    line-height: 1;
    @media screen and (max-width: 1024px) {
      font-size: 1.5em;
    }
  }
  &__handWithTorchWrapper {
    height: 430px;
    position: absolute;
    bottom: -20px;
    right: -220px;
    width: 220px;
    overflow: visible;
    background-image: url('/assets/images/hand-with-torch.png');
    background-repeat: no-repeat;
    @media screen and (max-width: 1024px) {
      display: none;
    }
    &:before {
      content: '';
      height: 150px;
      width: 150px;
      background: radial-gradient($green, white 70%);
      border-radius: 50%;
      position: absolute;
      top: 10px;
      left: 25px;
      z-index: -1;
      animation-name: handWithTorchAnimation;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
      animation-fill-mode: both;
      animation-direction: alternate;
    }
  }
}

@keyframes agencyDot {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes handWithTorchAnimation {
  from {
    transform: scale(.5);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes translateTopBottom {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}