$font-size: 24px;
$main-color: $green;
$textarea-height: 100px;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

form:invalid .material-button {
  color: rgba(0, 0, 0, 0.26);
  pointer-events: none;
}

.material__form {
  width: 100%;
}

.material-button {
  padding: 10px 50px;
  min-width: 88px;
  border-radius: 2em;
  font-size: 1.33em;
  text-align: center;
  border: none;
  margin-top: 40px;
  outline: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
  background-color: transparent;
  transition: background-color .2s, color .2s;
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  font-style: normal;
  color: black;
  background-color: $green;
  display: block;

  &:hover, &:focus {
    background-color: $green;
  }
  @media screen and (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.material-input { 
  height: 100px; 
  width: calc(45% - 3px);
  display: inline-block;
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
  &:first-of-type {
    margin-right: calc(9% + 6px);
  }
  label {
    line-height: $font-size + 46px;
    height: $font-size + 46px;
  }
  @media screen and (max-width: 650px) {
    width: 100%;
    &:first-of-type {
      margin-right: 0;
    }
  }
}
.material-textarea { 
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
  height: $textarea-height + 60px; 
  width: calc(100% - 2px);
  label {
    line-height: $font-size + 10px;
    height: $textarea-height + 30px;
  }
  textarea:invalid ~ #counter { 
    color: red; 
    &:after { color: red; }
  }
  textarea:placeholder-shown:invalid ~ #counter {
    color: black; 
    &:after { color: black; }
  }
  textarea ~ #counter {
    position: absolute;
    bottom: 3px;
    right: 0;
    color: black;
    font-size: $font-size - 4px;
    &:after {
      content: ' / 500';
      color: black;
    }
  }
}
.material-input, .material-textarea {
  position: relative;
  // width: 300px;
  margin-bottom: 6px;
  overflow: hidden;
  label, input, textarea, .error {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: $font-size;
  }
  label {
    font-size: $font-size - 4px;
  }
  textarea {
    height: $textarea-height;
    resize: none;
  }
  input, textarea {
    top: $font-size - 4px;
    border: none;
    margin: 8px 0;
    background: none;
    z-index: 2;
    &:focus { outline: none; }
    &:focus + label, &:valid + label, 
    &:not(:placeholder-shown) + label {
      line-height: $font-size + 2px;
      font-size: $font-size - 4px;
    }
    &:placeholder-shown ~ .error, 
    &:valid ~ .error { opacity: 0; }
    &:focus + label {
      color: $main-color;
      &:after {
        visibility: visible;
        left: 0;
        width: 100%;
      }
      & + .error { opacity: 0; }
    }
    &:not(:focus):not(:placeholder-shown):invalid {
      transition-delay: 0s;
      color: red;
      & + label {
        transition: all .2s 0s;
        color: red;
        &:after {
          visibility: visible;
          left: 0;
          width: 100%;
          background: red;
          transition-delay: 0s;
        }
      }
    }
  }
  label {
    color: black;
    transition: .2s all cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: inset 0px -1px #aaa;
    z-index: 1;
    &:after {
      content: '';
      visibility: hidden;
      position: absolute;
      left: calc(50% - 5px);
      bottom: 0;
      background-color: $main-color;
      width: 10px;
      height: 2px;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 10;
    }
  }
  .error {
    position: absolute;
    bottom: 3px;
    color: red;
    font-size: $font-size - 4px;
    font-style: italic;
    opacity: 1;
    transition: all .2s;
  }
}