.socialResponsibility {
  position: relative;
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  .ourAchievements {
    display: flex;
    flex-basis: 33%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    .ourAchievement {
      &__item {
        width: 33%;
        text-align: center;
      }
      &__image {
        height: 250px;
        object-fit: cover;
      }
      &__description {
        width: 65%;
        margin: 40px auto;
        font-family: 'Proxima Nova Rg';
        font-weight: 600;
        font-style: normal;
        strong {
          display: block;
          font-family: 'Proxima Nova Th';
          font-weight: 800;
          font-style: normal;
          font-size: 1.5em;
        }
      }
    }
  }
  .ourParticipation {
    &__usaid {
      width: 200px;
      height: 200px;
      background-image: url('/assets/images/logos/usaid-logo.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .header--usaid {
    max-width: 800px;
  }
  .ourParticipations {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .ourParticipation__item {
    max-width: 350px;
    width: 100%;
    text-align: center;
    font-family: 'Proxima Nova Th';
    font-weight: 800;
    font-style: normal;
    padding: 60px 32px;
    position: relative;
    
    &:before, &:after {
      content: '';
      background-color: transparent;
      border-radius: 50%;
      position: absolute;
      z-index: -1;
      transition: 0.3s ease 0.1s;
    }
    &:before {
      height: 0px;
      width: 0px;
      top: 0;
      right: 5px;
    }
    &:after {
      height: 0px;
      width: 0px;
      bottom: 0px;
      left: 0;
    }
    &:hover {

      &:before,
      &:after {
        background-color: $green;
      }

      &:before {
        height: 30px;
        width: 30px;
      }

      &:after {
        height: 80px;
        width: 80px;
      }
    }
  }
}