* {
  box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  color: black;
}

.wrapper {
  max-width: 1730px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 95px; 
  padding-right: 95px;
}

$green: #86b13b;

.header--primary {
  font-size: 3.416em;
  font-family: 'Proxima Nova Th';
  font-weight: 800;
  font-style: normal;
  position: relative;
  line-height: 1;
  margin-bottom: 60px;
  &::before {
    content: '';
    height: 13px;
    width: 125px;
    position: absolute;
    display: inline-block;
    background-color: $green;
    bottom: 15px;
    left: 0;
    z-index: -1;
  }
}
.header--secondary {
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  font-style: normal;
  font-size: 1.33em;
  position: relative; 
  margin-bottom: 60px;
  &::before {
    content: '';
    height: 1px;
    width: 40px;
    position: absolute;
    display: inline-block;
    background-color: black;
    top: 18px;
    left: -60px;
    z-index: -1;
  }
}