* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: black;
}

.wrapper {
  max-width: 1730px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 95px; 
  padding-right: 95px;
  @media screen and (max-width: 1024px) {
    padding-left: 60px; 
    padding-right: 60px;
  }
  @media screen and (max-width: 768px) {
    padding-left: 30px; 
    padding-right: 30px;
    // overflow: hidden;
  }
}

$green: #86b13b;

.header--primary {
  padding-top: 130px;
  font-size: 3.416em;
  font-family: 'Proxima Nova Th';
  font-weight: 800;
  font-style: normal;
  position: relative;
  line-height: 1;
  margin-bottom: 60px;
  @media screen and (max-width: 1024px) {
    padding-top: 50px;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 768px) {
    font-size: 2.5em;
  }
  @media screen and (max-width: 480px) {
    font-size: 2em;
  }
  &::before {
    content: '';
    height: 10px;
    width: 5rem;
    position: absolute;
    display: inline-block;
    background-color: $green;
    bottom: 0.18em;
    left: 3px;
    z-index: -1;
  }
}
.header--secondary {
  font-family: 'Proxima Nova Lt';
  font-weight: 600;
  font-style: normal;
  font-size: 1.33em;
  position: relative; 
  margin-bottom: 60px;
  @media screen and (max-width: 1024px) {
    margin-bottom: 30px;
  }
  // &::before {
  //   content: '';
  //   height: 1px;
  //   width: 20px;
  //   position: absolute;
  //   display: inline-block;
  //   background-color: black;
  //   top: 0.75rem;
  //   left: -30px;
  //   z-index: -1;
  // }
}